.action {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: 'Fira Code', monospace;
  font-size: 20px;
  margin-right: 30px;
}

.action::before {
  content: '';
  background-color: #003EE8;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}