.button {
  display: inline-block;
  font-family: 'Fira Code', monospace;
  font-size: 20px;
  background-color: #003EE8;
  color: white;
  box-shadow: 5px 5px 0 black;
  padding: 15px;
  margin-right: 10px;
  transition: 200ms ease-in-out;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.09);
}