.home-button {
  display: inline-block;
  font-family: 'Fira Code', monospace;
  font-size: 20px;
  background-color: #039002;
  color: white;
  box-shadow: 5px 5px 0 black;
  padding: 15px;
  margin-right: 10px;
  transition: 200ms ease-in-out;
  text-decoration: none;
}

.home-button:hover {
  transform: scale(1.09);
}

.home-button.-btnSubmit {
  box-shadow: none;
  cursor: pointer;
  margin: 0;
  width: 99%;
  height: 60px;
  border: 5px solid black;
  margin-left: 10px;
}

.home-button.-btnSubmit:hover {
  transform: none;
}